.journal-wrapper{
    display: flex;
    width: 100%;
}
.journal-display{
    flex: 1;
    border: 1px solid transparent;
    border-right-color: rgba(255,255,255,.2);
    padding-right: 1em;
}
.journal-list-header{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.journal-list-header h1{
    color: #fff;
}
.journal-list-header button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,.125);
    background-color: rgba(255,255,255,.125);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.journal-list{
    height: 100%;
    padding-right: 20px;
    overflow: scroll;
}
.journal-list::-webkit-scrollbar{
    display: none;
}
.journal-list .info{
    color: #aaaaaa;
}
.journal-entry{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(255,255,255,.125);
    border: 1px solid rgba(255,255,255,.125);
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.journal-entry span{
    color: gray;
    font-size: 13px;
}
.journal-entry p{
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.2;
    color: #dddddd;
    font-size: 14px;
}
.journal-display-form{
    flex: 3;
    padding: 0 2em;
}
.journal-display-form form{
    display: flex;
}
.form-input{
    flex: 1;
    min-width: 0;
}
.input-div{
    width: 100%;
}
select{
    padding: 5px 10px;
    margin-bottom: 15px;
    
}
input[type="text"], textarea{
    border: none;
    width: 100%;
    background-color: transparent;
}
input[type="text"]{
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}
textarea{
    height: 22pc;
    width: 100%;
    resize: none;
    overflow: scroll;
    font-size: 18px;
    color: #dddddd;
}
textarea::-webkit-scrollbar{
    display: none;
}
textarea::placeholder{
    color: rgb(83, 83, 83);
}
.submit{
    flex: 0 0 100px;
}
.submit button{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: 1px solid rgba(255,255,255,.125);
    background-color: rgba(255,255,255,.125);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}
button[type="submit"]:disabled{
    opacity: 0.7;
    cursor: auto;
}
.submit button i{
    font-size: 18px;
    padding-right: 5px;
}