<div class="login-container">
    <div class="container-header">
        <h3>Yooo, welcome back!</h3>
    
        <p class="redirect">
            First time here?
            <a routerLink="/register">Sign up</a>
        </p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
            <input
                type="text"
                formControlName="username"
                placeholder="Username">

        </div>

        <div class="form-group">
            <input
                type="password"
                formControlName="password"
                placeholder="Password">
        </div>

        <div class="remember">
            <label>
                <input
                    type="checkbox"
                    formControlName="rememberMe">

                Remember me
            </label>
        </div>

        <button
            type="submit"
            [disabled]="loginForm.invalid || loading">

            {{ loading ? 'Signing In...' : 'Sign In' }}
        </button>
        <div class="forgot-password">
            <a routerLink="/forgot-password">
                Forgot Password?
            </a>
        </div>
    </form>

   

</div>